:root {
  --header-text: white;
}

.header--container {
  background: linear-gradient(to right,#672280, #A626D3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 20px; 
  color: var(--header-text);
  font-family: Arial, Helvetica, sans-serif;
}

.logo--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  font-weight: 600;
  font-size: 1.3rem;
}

.logo--container img {
  width: 75px;
  border-radius: 10px;

}

main {
  padding: 50px 40px;
  width: 70%;
  margin: auto;
}

.input--container{
  display: flex;
  justify-content: space-between;
}

.form--input {
  width: 200px;
  height: 4.5vh;
  margin-bottom: 20px;
  border: 2px solid #D1D5DB;
  border-radius: 5px;
  text-indent: 10px;
}

.form--button {
  background: linear-gradient(to right, #711F8D, #A818DA);
  border: none;
  width: 100%;
  height: 4.5vh;
  border-radius: 5px;
  color: white;
}